body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0));
}

div {
    font: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

p {
    font: 'Raleway', sans-serif;
    color: rgba(1, 19, 12, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;   
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;   
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: -5px 5px rgb(107, 93, 93);
}
  
.button:hover {
    background-color: #3e8e41
}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: -2px 2px rgb(107, 93, 93);
    transform: translateY(4px);
}


/* Made by Flynn */